@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiSans';
  src: url('/assets/fonts/MiSans-Light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/fonts/MiSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/fonts/MiSans-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/fonts/MiSans-SemiBold.ttf') format('truetype');
  font-weight: semibold;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/fonts/MiSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

#title {
  animation: title 2s ease-out;
}
@keyframes title {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

#subtitle {
  animation: subtitle 2.4s ease-out;
  animation-delay: 0.1s;
}

@keyframes subtitle {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes logo {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

#button {
  animation: button 2s ease-out;
  animation-delay: 0.2s;
}

@keyframes button {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

#slideshow {
  transition: 1s ease-out;
  left: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
